* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('img/background.jpg');
    background-attachment: fixed;
    background-size: cover;
}

.header {
    height: 100px;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.header>h1 {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 39px;
    color: white;
}

h1:hover {
    cursor: pointer;
}

nav {
    display: flex;
    gap: 14px;
}

.nav-button {
    position: relative;
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    border: transparent;
    background-color: transparent;
    padding: 0 10px;
}

.nav-button::after {
    content: "";
    position: absolute;
    background-color: white;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -5px;
    transition: 0.3s;
}

.nav-button:hover:after {
    width: 100%;
}

.nav-button:hover {
    cursor: pointer;
    color: white;
}

.home-container {
    display: flex;
    flex-direction: column;
    width: fit-content;
    color: white;
    padding: 20px 20px;
}
.home-button{
    width: fit-content;
    padding: 15px;
    margin-top: 25px;
    font-size: 15px;
    font-weight: 600;
    color: white;
    border-color: white;
    background-color: transparent;
}

.home-title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

.home-text {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
    font-weight: 400;
}

.home-container:hover {
    cursor: default;
}